<ion-content>
    <div class="header">
        <ion-icon name="calendar-outline"></ion-icon>
        <p class="calendar">Calendar</p>
        <ion-icon name="add-outline" class="add" (click) ="diary()"></ion-icon>
    </div>

    <ion-card class="dark">
        <ion-card-content>
            <h5>TUESDAY, JULY 26</h5>
            <h2>How was your day?</h2>
            <div class="div">
            <ion-button shape="block" fill="solid" (click) ="diary()">Start Today's Journal</ion-button>
                </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="light">
        <ion-card-content class="smaller">
            <div class="center">
                <h4>20</h4>
                <h1>2</h1>   
            </div>
            <div class="center2">
                <h3>Total<br>Entries</h3>
                <h6>Months<br>Journaling</h6>
            </div>
        </ion-card-content>
    </ion-card>

    <p class="month">July 2022</p>

    <div class="bottom">
    <ion-card class="entry">
        <ion-card-content class="pad">
            <p class="day">MON</p>
            <p class="num">18</p>
        </ion-card-content>
    </ion-card>

    <p class="time">10:30 pm<br><br class="text">Lorem ipsum dolor sit amet, consectetur.</p>
    </div>

    <div class="bottom2">
        <ion-card class="entry">
            <ion-card-content class="pad">
                <p class="day">FRI</p>
                <p class="num">15</p>
            </ion-card-content>
        </ion-card>
    
        <p class="time">7:30 pm<br><br class="text">Excepteur sint occaecat cupidatat.</p>
    </div>

    <div class="bottom3">
        <ion-card class="entry">
            <ion-card-content class="pad">
                <p class="day">WED</p>
                <p class="num">13</p>
            </ion-card-content>
        </ion-card>
    
        <p class="time">8:43 pm<br><br class="text">Excepteur sint occaecat cupidatat.</p>
    </div>

    
</ion-content>
