<ion-content>

  

  <h4>SET UP</h4>
  <h5>Your Day</h5>

  <div class="container ion-text-center">
    <img src="assets/challenge2.png">
  </div>

  <div class="progress">
   <img src="assets/progress2.png">
   <p>Progress</p>
   <ion-icon name="add-circle-outline" class="icon"></ion-icon>
  </div>

 

  <div class="center">
    <ion-card>
      <ion-card-content class="teeth">
        <p>Brush my teeth</p>
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="water">
        <p>Drink water</p>
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="exercise">
        <p>Exercise</p>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
