<ion-content>

  <ion-button href="home/explore" color="transparent">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="title">
    <h4><b>Multitasking: Is It Good And Can You Actually Master It?</b></h4>
    <h6>Leon Ho</h6>
  
    <p>For a moment, think about how many errands you juggle around in a day. 
      From the moment you wake up till you lay your head on the pillow at night, 
      you deal with a multitude of things, from helping kids with their homework 
      to doing your office work at home, and from taking, and responding to emails 
      while talking to your colleagues on the phone, etc. You are likely multitasking 
      24/7. <br><br>If you resonate with what was mentioned in the previous paragraph, 
      you will be interested in the advice offered in this article.<br><br>This article 
      aims at helping you master the art of multitasking by breaking things down so you 
      can come to a useable solution. Buckle your belts to get answers to your queries 
      and make your life simpler and enjoyable.</p><br>

      <h5><b>What is Multitasking?</b></h5>
      <p>In a human context, multitasking refers to performing numerous activities 
        simultaneously, such as editing a document or replying to emails while participating 
        in a teleconference.<br><br>We become less efficient and more prone to making mistakes 
        when our brain continually switches gears to bounce back and forth. According to 
        psychologists who study what happens to cognition, when people try to accomplish more 
        than one activity simultaneously, the mind and brain are not meant for heavy-duty 
        multitasking.<br><br>Psychologists compare the task to choreography or air traffic control, 
        stressing that mental strain can lead to disaster in these and other activities.</p><br>

      <h5><b>Is Multitasking Possible?</b></h5>
      <p>The real question one should ask is whether it is possible to multitask.<br><br>It really 
        narrows down to what people perceive and what it really is. People think that they are 
        capable of doing many things at once. However, the fact remains that they are merely switching 
        from one job to the other.</p><br>

      <h5 style="font-size: 18px;"><b>When Is Multitasking Not Possible?</b></h5>
      <p>Multitasking skills are founded on a myth, according to cognitive neuroscientists and psychologists 
        all across the world.<br><br>Several types of research have been done to see how multitasking affects 
        our brain. A study conducted to see if multitasking while driving was good or bad, concluded that 
        performance is primarily reduced when there is a resource conflict.<br><br>Another study was done on 
        the performance of older adults vs. young ones when multitasking during the driving, and it concluded 
        that the performance of older persons suffered more than that of young ones and that capability to 
        multitask depleted with age.</p><br>
      
      <h5 style="font-size: 18px;"><b>When Is Multitasking Possible?</b></h5>
      <p>As per studies, the only time you can multitask is when you’re doing two things and one of them doesn’t 
        require your attention or mental energy, for example jogging while listening to music.<br><br>As per 
        research, somewhat distracting activities such as listening to the radio can help improve the driving 
        performance by providing a less distracting option. It concludes that you can multitask only when one 
        of the two things doesn’t require your attention or mental energy. Just as in driving you don’t have to 
        put in the additional effort or use mental energy to listen to music and so multitasking (driving and 
        listening to music) is possible.</p><br>

      <h5><b>Is Multitasking a Good Thing?</b></h5>
      <p>The clear answer is NO when you are trying to do a lot simultaneously, and these things require your 
        mental energy.<br><br>Multitasking negatively impacts our productivity across the board. It is a bad habit 
        that has long-term, harmful effects on your health, well-being, and productivity:</p><br>

      <h5 style="font-size: 18px;"><b>Multitasking Can Harm on Health</b></h5>
      <p>Multitasking has a bad effect on health as it leads to depression and social anxiety. The brain’s grey matter, 
        particularly in regions connected to cognitive control and the regulation of motivation and emotion, was 
        shown to have decreased in frequent media multitaskers.<br><br>These people are more likely to face mental health 
        issues such as depression.<br><br>Also, persistent media multitaskers have poorer working and long-term memory, 
        so their ability to retain information also curtails over a period.</p><br>

      <h5 style="font-size: 18px;"><b>Multitasking Takes a Toll on Your Relationships</b></h5>
      <p>Besides facing issues such as depression and anxiety, people who constantly multitask also jeopardize their 
        relationships.<br><br>Sometimes the tendency to multitask takes a toll on the relationship and the partner feels 
        neglected. Imagine discussing something with your partner while he or she is constantly engaged on the mobile 
        phone checking social media or email. How would that make you feel?<br><br>This so-called, technoference or 
        interference of technology causes reduced relationship satisfaction.</p><br>

      <h5 style="font-size: 18px;"><b>Multitasking Makes You Unproductive</b></h5>
      <p>Researchers investigated if multitasking increases our productivity and effectiveness. The findings showed that 
        multitasking made individuals less effective and productive, which is the exact reverse of what most multitaskers 
        believe.<br><br>There is a cognitive cost every time we go from one task to another, which reduces our productivity.<br><br>
        Multi-tasking implies you are constantly shifting your attention between multiple tasks. This may seem like the ultimate 
        level of focus, but multitasking is no different from being distracted – worse, it’s self-imposed.<br><br>We’d like to 
        believe that juggling numerous activities at once is achievable, but it comes at the cost of lowering the quality and 
        amount of attention paid to each task. As a result, you’re less productive than someone who concentrates on one task at a 
        time.</p><br>

      <h5 style="font-size: 18px;"><b>Multitasking Affects Your Performance</b></h5>
      <p>Studies show that performance almost always suffers. We become less efficient and more prone to make mistakes when our 
        brain continually switches gears to bounce between tasks – especially when those tasks are complicated and require our active 
        attention.<br><br>This may not be as obvious or impactful when we’re doing easy and ordinary things like walking while 
        listening to music or folding laundry while watching TV. When the stakes are higher, and the activities are more difficult, 
        however, attempting to multitask can have a detrimental influence on our life – and even be dangerous.<br><br>Our attention 
        is divided when we do so-called multitasking. It makes it more difficult for us to focus entirely on one item.<br><br>We lose 
        time and energy when we switch tasks. A study found that when switching between different tasks, the amount of time wasted 
        depends on various factors, and it could range from seconds to hours.<br><br>According to psychologist Gerald Weinberg:</p>

      <ion-card>
        <ion-card-content>
          Focusing on one task at a time = 100% of your productive time available.<br><br>Task switching between two tasks at a time = 
            40% of your productive time for each and 20% lost to context switching.<br><br>Task switching between three tasks at a time = 
            20% of your productive time for each and 40% lost to context switching.
        </ion-card-content>
      </ion-card>

      <p>This behavior decreases your focus over time and makes your mind more receptive to distractions.</p><br>

      <h5><b>How to Stop Multitasking If You’re Not Getting Things Done</b></h5>
      <p>If you find multitasking is dragging your productivity, try to change your habit with these steps:<br><br>
      <b>1. Consciously Change Gear</b><br><br>Instead of attempting to complete two activities simultaneously, consider creating a system 
      to remind you to switch your focus. Jerry Linenger, an American astronaut aboard the Mir space station, found this method effective:<br><br>
      As an astronaut, he had a lot on his plate every day. On a few watches, he set alarms for himself. He knew it was time to switch chores 
      when a specific watch beeped. This allowed him to focus completely on what he was doing at any given time.<br><br>This method works because 
      the alert reminds us of what will happen.<br><br><b>2. Manage Multiple Tasks Without Multitasking</b><br><br>Raj Dash of Performancing.com 
      has devised a clever method for juggling many projects without multitasking. Before moving on to other tasks, he recommends spending 15 minutes 
      getting to know a new project. Later, come back to the project and spend around thirty minutes researching and brainstorming.<br><br>Allow a 
      few days to pass before completing the project at hand. While working on other projects, your brain was still solving problems in the 
      background.<br><br>This strategy works because it allows us to work on multiple projects simultaneously without having to fight for your 
      attention.</p>

      <p>Read more on <a href="https://www.lifehack.org/929539/multitasking">lifehack.org</a></p>

      



      

  </div>
</ion-content>
